*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    height: 80px;
    background-color: #ffffff;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000000;
}
.nav_nav-area{
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 1;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
}
.nav_logo{
    font-weight: bold;
    font-size: 36px;
    cursor: pointer;
}
.nav_dot{
    display: inline-block;
    height: 6px;
    width: 6px;
    background-color: blue;
}
.nav_list{
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    height: 100%;
}
.nav_list li a{
    text-decoration: none;
    color: black;
}
.nav_list li a:hover{
    color: red;
}
li.hot a{
    position: relative;
    height: 100%;
}
li.hot::before{
    content: "HOT"; 
    padding: 3px 8px;
    background-color: #ff003c;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 30px;
    border-radius: 8px;
    font-size: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    list-style: none;
    border-top:3px solid #ff003c;
  } 
.dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-item{
    padding: 5px;
  }
.navbar_search{
    display: flex;
    gap: 2rem;
    float: right;
    height: 100%;
    align-items: center;
}
input[type=text]{
    border: 0;
    outline: 0;
}
.nav_search{
    border: 1px solid #eeeeee;
    border-radius: 30px;
    padding: 10px;
    float: right;
}
.nav_icon{
    border: 1px solid #eeeeee;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}
.nav_icon1{
    border: 1px solid #eeeeee;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}
.navbar_icons{
    position: relative;
    display: flex;
    gap: 2rem;
}
.nav_btn{
    width: 130px;
    height: 40px;
    border-radius: 20px;
}
.navbar_icon{
    position: absolute;
    top: 0px;
    left: 110px;
    padding: 2px;
    border: 1px solid #eeeeee;
    border-radius: 50%;
    background-color: #00b1ff;
    color: #ffffff;
    width: 28px;
    text-align: center;
}
.navbar_icon1{
    position: absolute;
    top: 0px;
    right: 60px;
    padding: 2px;
    border: 1px solid #eeeeee;
    border-radius: 50%;
    background-color: #00b1ff;
    color: #ffffff;
    width: 28px;
    text-align: center;
}
.responsiv_btn{
    display: none;
}
/* navbar create */
#hero{
    background-image: url(image/h1_hero.jpg.webp);
    height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 

}
.hero_image{
    /* background-image: url(image/hero_man.png.webp); */
    height: 800px;
    width: 750px;
    /* background-repeat: no-repeat; */
    /* margin-top: 35px; */
}
.main_hero{
    /* width: 88rem; */
    display: flex;
    gap: 8rem;
}
.hero_span{
    font-size: 36px;
    font-style: italic;
    color: #2577fd;
}
h1{
    font-size: 90px;
    font-weight: bold;
    font-family: poppins;
}
.hero_p{
    font-style: italic;
    font-size: 20px;
}
.hero_button{
    height: 50px;
    width: 150px;
    border-radius: 20px;
    font-size: 20px ;
}
.hero_main{
    margin-top: 200px;
    width: 500px;
}
/* hero_crate */
.shop_area{
    margin-top: 100px;
}
.shop_title{
    font-size: 48px;
    font-family: poppins;
    text-align: center;
}
.shop_images{
    display: flex;
    flex-wrap: wrap;
}
.shop_image{
    width: 480px;
    height: 300px;
    position: relative;
 } 
img{
    width: 100%;
    height: 100%;
}
.image_content{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    top: 100px;
    right:20px;
}
h3{
    font-family: poppins;
    font-size: 26px;
    font-weight: bold;
}
.shop_image_btn{
    font-weight: bold;
    font-family: poppins;
    border-radius: 20px;
}
.image_span{
    font-style: italic;
    color: #0071fe;
    text-shadow: 0 -5px 0 #fff;
    font-weight: bold;
    position: absolute;
    top: 70px;
    font-size: 18px;
}
/* shop_catagory create */
#Latest_products{
    margin-top: 100px;
}
.latest_title{
    font-size: 48px;
    font-family: poppins;
    font-weight: bold;
}
.latest_lists{
    float: right;
    display: flex;
    gap: 20px;
}
.contest{
    text-align: center;
    margin: 20px;
}
.price1{
    text-decoration: line-through;
    margin-left: 10px;
    color: red;
}
.card{
    margin-bottom: 20px;
    border: none;
    position: relative;
}
.sale{
    position: absolute;
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 20px;
    width: 50px;
    text-align: center;
    top: 20px;
    left: 20px;
}
/* latest product create */
.best_product{
    background-image: url(image/card.png.webp);
    height: 500px;
    margin-top: 200px;
    position: relative;
}
.best_product_image{
    height: 600px;
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 150px;
}
.best_product_title{
    text-align: center;
    padding-top: 200px;
    font-weight: bold;
    font-size: 56px;
    padding-left: 100px;
}
.best_product_image2{
    position: absolute;
    right: 30px;
    bottom: 40px;
}
.best-product_title2{
    text-align: center;
}
.best_product_btn{
    margin-left: 500px;
    padding: 0px 20px;
    height: 40px;
    width: 150px;
    border-radius: 20px;
}
/* best product crate */
#best_collection{
    margin-top: 200px;
    position: relative;
}
.best_collection_image1{
    width: 250px;
    height: 100px;
    margin-top: 80px;
}
.best_collection_h{
    font-size: 56px;
}
.best_collection_p{
    font-size: 20px;
}
.best_collection_btn{
    margin-top: 30px;
    height: 50px;
    width: 150px;
    border-radius: 20px;
}
.best_collection_image2{
    height: 600px;
    position: absolute;
    bottom: 10px;
    left: 600px;
}
.single_image{
    height: 120px;
    width: 150px;
    float: right;
}
.best_third{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 3rem;
}
.single_cap{
    display: flex;
    align-items: center;
    gap: 2rem;
}
/* best_collection finish */
.latest_area_back{
    margin-top: 150px;
    background-image: url(image/latest-offer.png.webp);
    height: 300px;
}
.latest_area_title{
    text-align: center;
    margin-top: 100px;
    font-size: 48px;
    font-weight: bold;
}
.latest_area_p{
    text-align: center;
    font-size: 20px;
}
.latset_area_search{
    outline: 0px;
    border: 0;
    margin-top: 8px;
}
.latest_search{
    height: 50px;
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #fff;
    border-radius: 30px;
    margin-top: 170px;
}
.latest_area_btn{
    float: right;
    height: 50px;
    border-radius: 30px;
}
/* latest_area finish */
#shop_method_area{
    margin-top: 100px;
}
.main_icon{
    text-align: center;
    width: 200px;
    margin: 0px 100px;
}
/* shop method are finish */
.sosial_medias{
    display: flex;
    margin-top: 100px;
}
/* sosial media finish */
.footer-area{
    margin-top: 200px;
}
.footer-logo{
    width: 100px;
}
.footer-social{
    float: right;
    padding: 30px;
}

@media (max-width:1200px){
    .nav_search{
        display: none;
    }
    .nav_icon{
        display: none;
    }
    .navbar_icon1{
        left: 35px;
    }
    /* navbar responsiv finish */
    .hero_image{
        width: 600px;
        height: 700px;
        margin-top: 100px;
    }
    .hero_main{
        width: 150px;
        height: 200px;
        margin-left: 40px;
    }
    h1{
        font-size: 48px;
    }
    /* hero finish */
    .shop_images{
        display: flex;
        flex-wrap: wrap;
        column-gap: 10rem;
        row-gap: 2rem;
    }
    /* shop catagory finish */
    .best_product_image{
        left: 10px;
    }
    .best_product_btn{
        margin-left: 250px;
    }
    /* best proproduct finish */
    .best_collection_h{
        font-size: 36px;
    }
    .best_collection_image2{
        left: 400px;
    }
    /* sosial media finish */
  }
  @media (min-width:768px) and (max-width:992px){
    header .navbar_search, .nav_navbar, .nava_logo{
        height: 50px;
    }
    nav_nav-area{
        height: 60px;
    }
    .nav_search, .nav_btn, .nav_list{
        display: none;
    }
    .nav_icon1{
        margin-right: 20px;
    }
    .responsiv_nav{
        height: 50px;
        padding-top: 5px;
        max-width: 900px;
        background-color: #4c4c4c;
    }
    .responsiv_btn{
        float: right;
        margin-right: 30px;
        height: 40px;
        width: 100px;
        background-color: black;
        display: flex;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
    }
    .resposiv_button{
        border: 0;
        outline: 0px;
        background-color: black;
        color: white;
    }
    .btn{
        color: white;
    }
    .nav_logo{
        position: relative;
    }
    .nav_dot{
        position: absolute; 
        top: 65%;
    }
    /* navbar responsiv finish */
    .hero_span{
        font-size: 20px;
    }
    /* hero finish */
    .shop_images{
        display: flex;
        flex-direction: column;
        padding-left: 100px;
    }
    .shop_image{
        width: 600px;
        height: 500px;
    }
    /* shop catagory finish */
    .best_product{
        height: 400px;
    }
    .best_product_image{
        display: none;
    }
    .best_product_title{
        font-size: 48px;
        text-align: start;
        padding-top: 30px;
    }
    .best-product_title2{
        text-align: start;
        margin-left: 100px;
    }
    .best_product_btn{
        margin-left: 100px;
    }
    /* best product finish */
    .best_collection_image2{
        display: none;
    }
    .best_collection_h{
        font-size: 24px;
    }
    /* best collection finish */
    .latest_area_title{
        margin-top: 30px;
    }
    .latest_search{
        width: 290px;
    }
    /* latest area finish */
    .main_icon{
        width: 150px;
    }
    /* shop method finish */
    .sosial_medias{
        display: flex;
        flex-wrap: wrap;
        row-gap: 0.3rem;
    }
    /* sosial media finish */
  }
  @media (max-width:768px){
    header, .nav_logo, .nav_navbar, .nav_search{
        height: 40px;
    }
    .nav_list, .nav_search, .nav_btn{
        display: none;
    }
    .responsiv_nav{
        height: 50px;
        padding-top: 5px;
        max-width: 700px;
        background-color: #4c4c4c;
    }
    .responsiv_btn{
        float: right;
        margin-right: 30px;
        height: 40px;
        width: 100px;
        background-color: black;
        display: flex;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
    }
    .resposiv_button{
        border: 0;
        outline: 0px;
        background-color: black;
        color: white;
    }
    .btn{
        color: white;
    }
    .nav_logo{
        position: relative;
    }
    .nav_dot{
        position: absolute;
        top: 40px;
        left: 115px;
    }
    /* navbar responsiv finish */
    .hero_image{
        width: 400px;
    }

    /* hero finish */
    .shop_images{
        display: flex;
        flex-direction: column;
        padding-left: 100px;
    }
    /* shop category crate */
    .best_product{
        height: 400px;
    }
    .best_product_image{
        display: none;
    }
    .best_product_title{
        font-size: 48px;
        text-align: start;
        padding-top: 30px;
    }
    .best-product_title2{
        text-align: start;
        margin-left: 100px;
    }
    .best_product_btn{
        margin-left: 100px;
    }
    /* best product create */
    .best_collection_image2{
        display: none;
    }
    /* best collection finish */
    .latest_area_title{
        font-size: 36px;
        margin-top: 10px;
    }
    .latest_search{
        margin-top: 30px;
        margin-left: 150px;
    }
    /* latest area finish */
    .main_icon{
        width: 300px;
        margin-bottom: 100px;
    }
    /* shop method area finish */
    .sosial_medias{
        display: flex;
        flex-direction: column;
    }
    /* sosial media finish */
  }