*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
img{
    height: 100%;
    width: 100%;
}
header{
    height: 80px;
    background-color: #ffffff;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000000;
}
.nav_nav-area{
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 1;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
}
.nav_logo{
    font-weight: bold;
    font-size: 36px;
    cursor: pointer;
}
.nav_dot{
    display: inline-block;
    height: 6px;
    width: 6px;
    background-color: blue;
}
.nav_list{
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    height: 100%;
}
.nav_list li a{
    text-decoration: none;
    color: black;
}
.nav_list li a:hover{
    color: red;
}
li.hot a{
    position: relative;
    height: 100%;
}
li.hot::before{
    content: "HOT"; 
    padding: 3px 8px;
    background-color: #ff003c;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 30px;
    border-radius: 8px;
    font-size: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    list-style: none;
    border-top:3px solid #ff003c;
  } 
.dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-item{
    padding: 5px;
  }
.navbar_search{
    display: flex;
    gap: 2rem;
    float: right;
    height: 100%;
    align-items: center;
}
input[type=text]{
    border: 0;
    outline: 0;
}
.nav_search{
    border: 1px solid #eeeeee;
    border-radius: 30px;
    padding: 10px;
    float: right;
}
.nav_icon{
    border: 1px solid #eeeeee;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}
.nav_icon1{
    border: 1px solid #eeeeee;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}
.navbar_icons{
    position: relative;
    display: flex;
    gap: 2rem;
}
.nav_btn{
    width: 130px;
    height: 40px;
    border-radius: 20px;
}
.navbar_icon{
    position: absolute;
    top: 0px;
    left: 110px;
    padding: 2px;
    border: 1px solid #eeeeee;
    border-radius: 50%;
    background-color: #00b1ff;
    color: #ffffff;
    width: 28px;
    text-align: center;
}
.navbar_icon1{
    position: absolute;
    top: 0px;
    right: 60px;
    padding: 2px;
    border: 1px solid #eeeeee;
    border-radius: 50%;
    background-color: #00b1ff;
    color: #ffffff;
    width: 28px;
    text-align: center;
}
.responsiv_btn{
    display: none;
}
/* navbar create */
#hero{
    height: 300px;
    background-position: center;
    padding: 0%;
}
.hero_main{
    background-image: url(image/category.jpg.webp);
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* hero create */
.search1{
    height: 50px;
    border: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    align-items: center;
    padding: 0px 10px;
    background-color: #f4edf2;
    margin-bottom: 50px;
}
.product_search{
    background-color: #f4edf2;
}
#product_list{
    margin-top: 100px;
}
.select1 ,.select2{
    height: 50px;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
select{
    outline: 0px;
    border: 0px;
    width: 100%;
    border-radius: 30px;
}
.card{
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
}
/* product list finish */
.lead-more{
    margin-top: 50px;
    height: 50px;
    width: 150px;
    background-color: #fff;
    border: 1px solid #2577fd;
    border-radius: 10px;
    color: #2577fd;
    float: right;
    margin-right: 400px;
}
.lead-more:hover{
    background-color: #2577fd;
    color: #fff;
}
/* load more finish */
#carousel{
    margin-top: 200px;
    background-color: #b08ead;
    height: 300px;
}
.carousel_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;

}
.carousel_images{
    height: 100px;
    width: 100px;
}
.carousel-title{
    text-align: center;
    width: 500px;
}
.carousel-name{
    display: inline-block;
    text-align: center;
}
/* carousel finish */
#shop_method_area{
    margin-top: 100px;
}
.main_icon{
    text-align: center;
    width: 200px;
    margin: 0px 0px;
}
/* shop method area finish */
#email{
    background-color: #191d34;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email-title{
    color: #fff;
    text-align: center;
    padding-top: 50px;
}
h3{
    font-size: 48px;
}
.search_email{
    height: 40px;
    width: 200px;
    display: flex;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 20px;
}
.email{
    outline: 0px;
    border: 0px;
}
/* eamil finish */
.footer-area{
    margin-top: 100px;
}
.footer-logo{
    width: 100px;
}
.footer-social{
    float: right;
    padding: 30px;
}

@media (max-width:1200px){
    .nav_search{
        display: none;
    }
    .nav_icon{
        display: none;
    }
    .navbar_icon1{
        left: 35px;
    }
    /* navbar responsiv finish */
     /* product list finish */
     .carousel_image{
        left: 400px;
     }
}
@media (min-width:768px) and (max-width:992px){
    header .navbar_search, .nav_navbar, .nava_logo{
        height: 50px;
    }
    nav_nav-area{
        height: 60px;
    }
    .nav_search, .nav_btn, .nav_list{
        display: none;
    }
    div.nav_btn{
        display: none;
    }
    .nav_icon1{
        margin-right: 20px;
    }
    .responsiv_nav{
        height: 50px;
        padding-top: 5px;
        max-width: 900px;
        background-color: #4c4c4c;
    }
    .responsiv_btn{
        float: right;
        margin-right: 30px;
        height: 40px;
        width: 100px;
        background-color: black;
        display: flex;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
    }
    .resposiv_button{
        border: 0;
        outline: 0px;
        background-color: black;
        color: white;
    }
    .btn{
        color: white;
    }
    .nav_logo{
        position: relative;
    }
    .nav_dot{
        position: absolute; 
        top: 65%;
    }
      /* navbar responsiv finish */
      .card{
        width: 200px;
      }
      h2.card_title{
        font-size: 20px;
      }
       /* product list finish */
       .main_icon{
        width: 150px;
    }
       /* shop method finish */
 } 
@media (max-width:768px){
    header, .nav_logo, .nav_navbar, .nav_search{
        height: 40px;
    }
    .nav_list, .nav_search, .nav_btn{
        display: none;
    }
    div.nav_btn{
        display: none;
    }
    .responsiv_nav{
        height: 50px;
        padding-top: 5px;
        max-width: 700px;
        background-color: #4c4c4c;
    }
    .responsiv_btn{
        float: right;
        margin-right: 30px;
        height: 40px;
        width: 100px;
        background-color: black;
        display: flex;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
    }
    button.resposiv_button{
        border: 0;
        outline: 0px;
        background-color: black;
    }
    .btn{
        color: white;
    }
    .nav_logo{
        position: relative;
    }
    .nav_dot{
        position: absolute;
        top: 40px;
        left: 115px;
    }
      /* navbar responsiv finish */
      .card{
        width: 200px;
      }
      h2.card_title{
        font-size: 20px;
      }
      /* product list finish */
      .load_more{
        margin-left: 200px;
      }
      /* load more finish */
      .main_icon{
        width: 300px;
        margin-bottom: 100px;
    }
        /* shop method area finish */ 
}