*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    height: 80px;
    background-color: #ffffff;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000000;
}
.nav_nav-area{
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 1;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
}
.nav_logo{
    font-weight: bold;
    font-size: 36px;
    cursor: pointer;
}
.nav_dot{
    display: inline-block;
    height: 6px;
    width: 6px;
    background-color: blue;
}
.nav_list{
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    height: 100%;
}
.nav_list li a{
    text-decoration: none;
    color: black;
}
.nav_list li a:hover{
    color: red;
}
li.hot a{
    position: relative;
    height: 100%;
}
li.hot::before{
    content: "HOT"; 
    padding: 3px 8px;
    background-color: #ff003c;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 30px;
    border-radius: 8px;
    font-size: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    list-style: none;
    border-top:3px solid #ff003c;
  } 
.dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-item{
    padding: 5px;
  }
.navbar_search{
    display: flex;
    gap: 2rem;
    float: right;
    height: 100%;
    align-items: center;
}
input[type=text]{
    border: 0;
    outline: 0;
}
.nav_search{
    border: 1px solid #eeeeee;
    border-radius: 30px;
    padding: 10px;
    float: right;
}
.nav_icon{
    border: 1px solid #eeeeee;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}
.nav_icon1{
    border: 1px solid #eeeeee;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}
.navbar_icons{
    position: relative;
    display: flex;
    gap: 2rem;
}
.nav_btn{
    width: 130px;
    height: 40px;
    border-radius: 20px;
}
.navbar_icon{
    position: absolute;
    top: 0px;
    left: 110px;
    padding: 2px;
    border: 1px solid #eeeeee;
    border-radius: 50%;
    background-color: #00b1ff;
    color: #ffffff;
    width: 28px;
    text-align: center;
}
.navbar_icon1{
    position: absolute;
    top: 0px;
    right: 60px;
    padding: 2px;
    border: 1px solid #eeeeee;
    border-radius: 50%;
    background-color: #00b1ff;
    color: #ffffff;
    width: 28px;
    text-align: center;
}
.responsiv_btn{
    display: none;
}
/* navbar create */
#hero{
    height: 300px;
    background-position: center;
    padding: 0%;
}
.hero_main{
    background-image: url(image/category.jpg.webp);
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* hero create */
.sing_up{
    background-image: linear-gradient(90deg, #B08EAD 0%, #4B3049 64%, #B08EAD 100%);
    height: 500px;
    background-size: 200% auto;
    margin-top: 200px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.singup_p{
    width: 500px;
    font-size: 20px;
}
.sing_btn{
    height: 50px;
    width: 200px;
    border: 1px solid #fff;
    background-color: transparent;
}
.sing_btn:hover{
    background-color: #fff;
}
.sing_btn a{
    color: #fff;
}
.sing_btn a:hover{
    color: #00b1ff;
}
.login_title{
    margin-top: 200px;
    margin-left: 100px;
}
.login_content{
    margin-top: 100px;
    margin-left: 100px;
}
.username{
    width: 300px;
    border-bottom: 1px solid #888;
    margin-bottom: 30px;
}
#username{
    outline: 0px;
    border: 0px;
}
.login_btn{
    height: 40px;
    width: 350px;
    margin-top: 30px;
    background-color: transparent;
    border: 1px solid #00b1ff;
    color: #00b1ff;
}
.login_btn:hover{
    background-color: #00b1ff;
    color: #fff;
}
.forget{
    margin-left: 200px;
}
/* login finish */
.footer-area{
    margin-top: 100px;
}
.footer-logo{
    width: 100px;
}
.footer-social{
    float: right;
    padding: 30px;
}
/* footer finish */
@media (max-width:1200px){
    .nav_search{
        display: none;
    }
    .nav_icon{
        display: none;
    }
    .navbar_icon1{
        left: 35px;
    }
    /* navbar responsiv finish */
}
@media (min-width:768px) and (max-width:992px){
    header .navbar_search, .nav_navbar, .nava_logo{
        height: 50px;
    }
    nav_nav-area{
        height: 60px;
    }
    .nav_search, .nav_btn, .nav_list{
        display: none;
    }
    div.nav_btn{
        display: none;
    }
    .nav_icon1{
        margin-right: 20px;
    }
    .responsiv_nav{
        height: 50px;
        padding-top: 5px;
        max-width: 900px;
        background-color: #4c4c4c;
    }
    .responsiv_btn{
        float: right;
        margin-right: 30px;
        height: 40px;
        width: 100px;
        background-color: black;
        display: flex;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
    }
    .resposiv_button{
        border: 0;
        outline: 0px;
        background-color: black;
        color: white;
    }
    .btn{
        color: white;
    }
    .nav_logo{
        position: relative;
    }
    .nav_dot{
        position: absolute; 
        top: 65%;
    }
      /* navbar responsiv finish */
      .login_content{
        margin: 0px;
      }
      .singup_p{
        font-size: 12px;
        width: 200px;
      }
}
@media (max-width:768px){
    header, .nav_logo, .nav_navbar, .nav_search{
        height: 40px;
    }
    .nav_list, .nav_search, .nav_btn{
        display: none;
    }
    div.nav_btn{
        display: none;
    }
    .responsiv_nav{
        height: 50px;
        padding-top: 5px;
        max-width: 700px;
        background-color: #4c4c4c;
    }
    .responsiv_btn{
        float: right;
        margin-right: 30px;
        height: 40px;
        width: 100px;
        background-color: black;
        display: flex;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
    }
    button.resposiv_button{
        border: 0;
        outline: 0px;
        background-color: black;
    }
    .btn{
        color: white;
    }
    .nav_logo{
        position: relative;
    }
    .nav_dot{
        position: absolute;
        top: 40px;
        left: 115px;
    }
      /* navbar responsiv finish */
      .singup_p{
        font-size: 12px;
        width: 200px;
      }
}